/CT "SQL"
/C "Data Source=tcp:vmdevsql05,3415;Initial Catalog=FoxHunt;Integrated Security=True;Persist Security Info=True;"
/F "C:\incomming\VHUserData_AppTesting (1).xlsx"
/T "ExtUsers"
/COLS "status,PreferredName,voter_reg_num,Phone,Cell,Email,,,EIDNumber,E-SkillsAssessmentResult,WorkingNearRelatives,EarlyVotingInterest,ElectionDayInterest,GeneralOfficeInterest,ApplicationSource,Comments"
/P "voter_reg_num"
/DELIM ","
/SKIP "1"
/B "50"
/FORMAT excel
